.avatar_img{
    width: 60px;
    margin-left: 8px;
}

.img_name_wrapper{
    display: flex;
    
}

.name{
    margin-top: 5px;
    margin-left: 15px;
}

.user_wrapper{
    margin-bottom: 30px;
    margin-top: 25px;
}

.btn_follow{
    width: 80px;
    height: 30px;
    background-color:rgb(85, 126, 238);
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.btn_unfollow{
    width: 80px;
    height: 30px;
    background-color:rgb(161, 161, 161);
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.user_line{
    width: 900px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.24);
    margin: 20px auto;
}

.selected{
    font-weight: bold;
}

.page_number{
    cursor: pointer;
    margin-right: 5px;
    
}