.header{
  background-color: rgb(254 254 254);
  border-radius: 10px;
  margin-top: 15px;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
}

.logo{
  width: 80px;
}

.login_block a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  background-color: rgb(85, 126, 238);
}