.dialogs{
    display: flex;
    width: 600px;
    padding: 20px;
}

.dialogs_items{
    margin-right: 90px;
}

.dialogs_items a{
    color: rgb(145, 10, 10);
    text-decoration: none;
}

.dialogs_items a.activeLink{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.dialog{
    margin-bottom: 10px;
}
